# Project dependent files.
tests

# Default excludes.
**/vrepo.json
**/vtest.json
**/unit_tests
**/.unit_tests
/docs
.vdocs
.vrepo
/.old
/bin
/test
/tests
/dev
tsconfig.*json
/.git*
/node_modules
package-lock.json
.npmignore
Info.plist
icon.icns
unit_tests
/src